<div class="main-container col-7 pt-5 ">
いいね一覧
　<table class="table ">

      <% @favorite_posts.each do |post|%>
    <tr>
       <th>
        <%=post.title %>
        </th>


         <% end %>
    </tr>


  </table>
</div>

