

 <div class="col-md-8 offset-md-1">  <!-- この行を追加 -->
  <h1>Users一覧</h1>


  <table class="table table-hover table-inverse">

  <thead>
    <tr>
     <th>image</th>
    　<th>name</th>
      　<th colspan="3"></th>
    </tr>
  </thead>
              <%#= image_tag book.get_image %>

    <tbody>

　　　<% @customers.each do |customer| %>
          <tr>
            <td><%#= image_tag user.get_profile_image(100,100) %></td>
            <td><%= customer.name %></td>
            <td><%= link_to"詳細ページへ",customer_path(customer.id) %></td>
          </tr>
          <% end%>
          </tbody>
        </table>
      </div>