<div class="container mt-5 mb-5">
<table>
    <thead>
        <tr>
            <th>投稿者名</th>
            <th>タイトル</th>
            <th>本文</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody id="post">
    <% posts.each do |post| %>
      <tr>
        <th><%= post.customer.name %></th>
        <th><%= post.title %></th>
        <th><%= post.caption %></th>
        <th><%= link_to "詳細", post_path(post) %></th>
        <% if post.customer == current_customer %>

        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
</table>
</div>