<div class="container col-8 mt-5 mb-4">
  <table  class="table  table-hove font_test">
    <thead>
        <tr>
            <th><h4>投稿者名</h4></th>
            <th><h4>タイトル</h4></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody id="post">
      <% posts.each do |post| %>
        <tr>
          <th><h4><%= post.customer.name %></h4></th>
          <th><h4><%= post.title %></h4></th>
          <th><h4><%= link_to "詳細", post_path(post) %></h4></th>
          <% if post.customer == current_customer %>
          <% else %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>