<div class="home-background" >
  <div class=" main-container col-3 pt-5 offset-4">
    <div class="ribbon6">
      <h3>ようこそone on golfへ</h3>
    </div>

    <div class="box text-white">
      <p class= "text-white text-center" "top-font">
        このサイトは、ゴルフプレーヤーのサイトになります。<br>
        投稿やフォローをして知り合いを増やしましょう！<br>
        会員でないかたは会員登録を行いましょう<br>
        サイトを使用するにはには会員登録が必要になります。
      </p>

        <table>
          <tr>
            <th class= "text-white text-center">
               既に登録済の方はこちらから
              <%= link_to "ログイン", new_customer_session_path, class: "btn-gradient-simple  mx-auto" %>
            </th>
          </tr>

          <tr>
            <th class= "text-white text-center">
              登録してない方はこちらから
              <%= link_to "新規登録", new_customer_registration_path, class: "btn-gradient-simple mx-auto" %>
            </th>
          </tr>
        </table>
    </div>
  </div>
</div>
