<div class="main-container col-7 pt-5 offset-1">
      <p class="top-font">
       ようこそ、one on golfへ！<br>
       このサイトは、ゴルフプレーヤーのサイトになります。<br>
       会員でないかたは会員登録を行いましょう<br>
       サイトを使用するにはには会員登録が必要になります。
      </p>

　　　<div>

　　　</div>


　　　<div>
　　　登録済の方はこちらから
      <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-danger" %>
      </div>
      <div>
      登録をしてない方はこちらから
      <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-danger" %>
      </div>
     <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:110px;">ログアウト</button>
    <% end %>
</div>

