
<div class="container mt-5 mb-5">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-5">
      <h2>管理者用　会員詳細画面</h2>

       <div>
        <%#= link_to "編集する", edit_customer_path(@customer), class: "btn btn-outline-danger mx-auto my-1" %>&emsp;
        <%= link_to "一覧画面へ",admin_customers_path, class: "btn btn-outline-danger mx-auto my-1" %>&emsp;
       </div>

      <div>
      <table>
       <tr>
		     <td>氏名</td>
		     <td><%= @customer.name %></td>
       </tr>
       
      <tr>
       <td>メールアドレス</td>
       <td><%= @customer.email %></td>
      </tr>
     </table>
     </div>
   </div>
  </div>
 </div>
