@import '~bootstrap/scss/bootstrap';

html{
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}
header {
  width: 100%;

  background: #44aa33;
}
main {
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #44aa33;
}

.home-background {
  position: relative;
  width: 100%;
  min-height: 150vh;
  background-size: cover;
  background-image: url('../images/golf_home.jpg');
}

.post-background {
  position: relative;
  width: 100%;
  min-height: 160vh;
  background-size: cover;
  background-image: url('../images/golf_post.jpg');
}

.customer-background {
  position: relative;
  width: 100%;
  min-height: 130vh;
  background-size: cover;
  background-image: url('../images/golf_customer.jpg');
}

.follow-background {
  position: relative;
  width: 100%;
  min-height: 130vh;
  background-size: cover;
  background-image: url('../images/golf_follow.jpg');
}

.new-background {
  position: relative;
  width: 100%;
  min-height: 130vh;
  background-size: cover;
  background-image: url('../images/golf_new.jpg');
}

.pagination {
  justify-content: center;
}


.image_input_btn{
        display: block;
        background-color: #AEFFBD;
        width: 180px;
        height: 30px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
        padding-top: 2px;
        color: white;
        text-decoration: none;
        text-align: center;
      }

      .image_form{
        display: none;
      }

.box {
//  background-color: #343a40 ;
background-color: rgba(52,58,64, 0.55);
box-shadow: 0px 0px 15px 0px rgba(98,98,98,0.8); /*影の指定*/
padding:10px;
}
.box p {
margin:0;
　　padding:0;
}

thead th{
	background-color:  rgba(52,58,64, 0.7);
}

.font_test {

    color: #ffffff;     /* 文字色指定 */
}



.pu {
  background-color: #efefef;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  overflow-y: scroll;
}
/* チェックボックスの初期設定 */
#pu-on{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#pu-on:checked + .pu{
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close{
  background: #000;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
}

/* 開くボタン */
.btn-open{
  background: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* ポップアップの内容 */
.pu-content{
  margin: 40px auto 40px auto;
  width: 90%;
}
.btn-gradient-simple {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, #45e66d 0%, #b0c9ff 100%);
  transition: .4s;
}

.btn-gradient-simple:hover {
  background-image: linear-gradient(45deg, #45e66d 50%, #b0c9ff 100%);
}


.btn-gradient-simple1 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(25deg, #F13F79 0%, #FFC778 100%);
  transition: .4s;
}

.btn-gradient-simple1:hover {
  background-image: linear-gradient(25deg, #F13F79 0%, #FFC778 100%);
}


.ribbon6 {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;
  background: #acd879;
  color: #FFF;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.ribbon6 h3 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 2px rgba(255, 255, 255, 0.5);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
  line-height: 42px;
}

.ribbon6:before, .ribbon6:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon6:before {
  top: -2px;
  left: -2px;
  border-width: 32px 0px 32px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon6:after {
  top: -2px;
  right: -2px;
  border-width: 32px 15px 32px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}



.balloon2-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.balloon2-left p {
  margin: 0;
  padding: 0;
}



h2 {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
h2:before, h2:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
h2:before {
  left: 7px;
}
h2:after {
  right: 7px;
}

h1 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #008000;
}

h1:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}


a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
  z-index: 1;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: calc(-100% + 10px);

  width: 100%;
  height: 100%;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);

  background: #094;
}

a.btn-flat:after {
  position: absolute;
  top: 0;
  right: calc(-100% + 10px);

  width: 100%;
  height: 100%;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);

  background: #094;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(50%) translateY(0);
  transform: translateX(50%) translateY(0);
}

a.btn-flat:hover:after {
  -webkit-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
}