<div class="customer-background" >
  <div class="main-container col-5 pt-5 offset-4">
    <div class="box font_test text-center">

      <% if @model == 'customer' %>
        <h3>【ユーザーの検索結果】検索ワード：<%= @content %></h3>
        <%= render 'public/customers/index', customers: @records %>
      <% else @model == 'posts' %>
        <h3>【Postsモデルの検索結果】検索ワード：<%= @content %></h3>
        <%= render 'public/posts/index', posts: @records %>
      <% end %>

    </div>
  </div>
</div>